<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842531891305-2kngbg8lham3bnikhvb5sj23jr9bpfon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842531891305-2kngbg8lham3bnikhvb5sj23jr9bpfon</string>
	<key>API_KEY</key>
	<string>AIzaSyBu51AYGF-SlDW4rmvQNryEsZXLmDcniRM</string>
	<key>GCM_SENDER_ID</key>
	<string>842531891305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msoham123.connectify</string>
	<key>PROJECT_ID</key>
	<string>connectify-b68d5</string>
	<key>STORAGE_BUCKET</key>
	<string>connectify-b68d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842531891305:ios:3cb4a01f4d55edd0f6daf8</string>
	<key>DATABASE_URL</key>
	<string>https://connectify-b68d5.firebaseio.com</string>
</dict>
</plist>